/*
	font-family: 'Kaushan Script', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
*/
*{
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
	box-sizing: border-box;
	transition: all .3s ease;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

/*GENERAL - start*/
.title-decor{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
	text-align: center;
	margin: 10px auto;
}
.title{
	font-size: 30px;
	color: #333;
	text-transform: uppercase;
	margin: 10px auto;
	text-align: center;
	position: relative;
}
.title:after{
	content: '';
	width: 60px;
	height: 3px;
	background-color: #F38083;
	display: block;
	margin: 30px auto;
	z-index: 100;
}
p{
	font-family: 'Roboto', sans-serif;
	color: #999999;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}
.btn{
	border: 3px solid #fff;
	padding: 15px 30px;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	margin: 20px auto;
}
.btn:hover{
	background-color: #333;
	border: 3px solid #333;
}
.section__header{
	max-width: 960px;
	margin: 0 auto;
}
/*GENERAL - end*/

/*HEADER - start*/
.header{
	width: 100vw;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__wrap{
	width: 100%;
	height: 90px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.icon{
	width: 21px;
	height: 20px;
	fill: none;
}
.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.menu__list{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}
.menu__item{
	margin-left: 60px;
}
.menu__item a{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}
.menu__item a:after{
	content: '';
	width: 100%;
	height: 3px;
	background-color: #F8E589;
	display: block;
	position: absolute;
	bottom: -10px;
	opacity: 0;
	transition: all .3s ease;
}
.menu__item a:hover,
.menu__item.active a{
	color: #F8E589;
}
.menu__item a:hover:after,
.menu__item.active a:after{
	opacity: 1;
}
/*HEADER - end*/

/*HERO - start*/
.hero{
	width: 100vw;
	height: 100vh;
	max-height: 1000px;
	background: linear-gradient(to bottom, rgba(243, 128, 131, 0.9), rgba(248, 229, 137, 0.9)), url(../img/bg/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/*padding-top: 90px;*/
}
.hero__wrap{
	width: 100%;
	height: 100vh;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.hero__caption{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding-top: 90px;
}
.hero__caption .title-decor{
	font-size: 72px;
	color: #fff;
	margin: 0;
	text-transform: capitalize;
}
h1{
	font-weight: 700;
	color: #fff;
	font-size: 150px;
	line-height: 140px;
	text-transform: uppercase;
	text-align: center;
	margin: 30px auto 0;
}
h1:after{
	content: '';
	width: 60px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 30px auto;
	z-index: 100;
}

/*HERO - end*/

/*SLIDER - start*/
.slider{
	width: 100%;
	counter-reset: myCounter;
	list-style-position: outside;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	bottom: 0;
	margin: 20px auto 0;
}
.slider__item{
	list-style: none;
	list-style-position: outside;
	width: calc(100% / 4 - 30px);
	position: relative;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	border-top: 3px solid #fff;
	padding: 20px 0;
	opacity: 0.7;
}
.slider__item.active{
	opacity: 1;
	position: relative;
}
.slider__item.active:after{
	content: '';
	width: 70px;
	height: 3px;
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	background-color: #F38083;
}
.slider__item:before{
	counter-increment: myCounter;
	content: '0' counter(myCounter);
	color: #fff;
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
}
/*SLIDER - end*/

/*ABOUT - start*/
.about{
	padding: 90px 0 110px;
}
.about__list{
	margin: 90px auto 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.about__item{
	background-color: #95E1D4;
	position: relative;
}
.about__img{
	width: 380px;
	height: 250px;
	overflow: hidden;
}
.about__img img{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
}
.about__prompt{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background: linear-gradient(to bottom, rgba(243, 128, 131, 0.9), rgba(248, 229, 137, 0.9));
}
.about__prompt .icon{
	fill: #fff;
	width: 32px;
	height: 23px;
}
.about__text{
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 10px auto;
}
.about__item:hover .about__img,
.about__item:hover .about__prompt{
	transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__prompt{
	opacity: 1;
}
/*ABOUT - end*/

/*COUNT - start*/
.count{
	background-color: #95E1D4;
}
.count__wrap{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.count__item{
	width: calc(100% / 5);
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid rgba(255, 255, 255, .3)
}
.count__item:last-of-type{
	border-right: 1px solid rgba(255, 255, 255, .3)
}
.count__number{
	font-weight: 700;
	font-size: 72px;
	line-height: 1;
	color: #fff;
	margin-bottom: 30px;
}
.count__text{
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
}
/*COUNT - end*/